<% if microposts.any? %>
  <div class="space-y-3">
    <% microposts.each do |micropost| %>
      <div class="p-4 bg-white rounded-lg border border-neutral-200 shadow-sm">
        <p class="text-neutral-700"><%= micropost.content %></p>
        <%= image_tag(micropost.image) if micropost.image.attached? %>
        <p class="text-sm text-neutral-600"><%= time_ago_in_words(micropost.created_at) %></p>
      </div>
    <% end %>
  </div>
  <%= will_paginate microposts %>
<% else %>
  <div class="p-6 text-center bg-neutral-50 rounded-lg border border-dashed border-neutral-300">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mx-auto text-neutral-400 mb-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
    </svg>@user.
    <p class="text-neutral-500">No posts yet.</p>
  </div>
<% end %>

