<div id="<%= dom_id user %>" class="p-4 rounded-md shadow-sm border border-neutral-200 space-y-1">
  <div class="text-xl font-medium">
    <%= user.name %>
  </div>

  <div class="text-neutral-500">
    <%= user.email %>
  </div>

</div>
