<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1 class="text-3xl font-bold">Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
    <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class: "rounded-md inline-flex h-8 px-4 bg-green-200" %>
